# Term Frequency - Inverse Term Frequency
$ TF- IDF =\frac{Term Count in Doc}{Total terms in doc} \times log  \frac{total documents + 1}{Docs with the term +1}$


Similar to count vectorizer but this time the document term matrix each entry represents the importance score of the terms in a document

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
pd.set_option('display.max_colwidth', None)

In [4]:
data = pd.read_pickle('text_clean.pkl')
data

0              gardener pick fresh orange early morning
1                 orange cost 350 kilo sunnyvale market
2                 buy bag orange slice picnic delicious
3                     orange orange orange orangeso way
4                   s squeeze orange fresh orange juice
5    sunnyvale market sell valencia orange navel orange
6                  mimosa sparkle wine mix orange juice
7                                 fresh juice well home
Name: Clean_Sentences, dtype: object

In [10]:
tv = TfidfVectorizer(stop_words='english', ngram_range=(1,2), min_df=2)
tfidf = tv.fit_transform(data)
tfidf_df = pd.DataFrame(tfidf.toarray(), columns = tv.get_feature_names_out())
tfidf_df

,fresh,fresh orange,juice,market,orange,orange juice,sunnyvale,sunnyvale market
0,0.605900,0.702153,0.000000,0.000000,0.373987,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.551847,0.293930,0.000000,0.551847,0.551847
2,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
4,0.401291,0.465039,0.401291,0.000000,0.495387,0.465039,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.491783,0.523877,0.000000,0.491783,0.491783
6,0.000000,0.000000,0.605900,0.000000,0.373987,0.702153,0.000000,0.000000
7,0.707107,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000